numpy
opencv-python-headless
Pillow
pillow-heif
scipy
timm
huggingface_hub
git+https://github.com/facebookresearch/segment-anything.git
# Torch/Torchvision for local dev (CI uses command line for CPU)
torch
torchvision
